<template name="footer">
 
  <div id="footer" class="container-fluid">
     <div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>My Locale</h4>
					<p>
						Honolulu, Hawaii.
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>My Links</h4>
					<p>
						<a href="https://github.com/charue808">Github</a><br/>
						<a href="https://twitter.com/thatcgum">Twitter</a><br/>
						<a href="#">Facebook</a>
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>About Charles</h4>
					<p>"I, a universe of atoms, an atom in the universe"</p>
				</div><!-- /col-lg-4 -->
       </div>
		</div>
  </div>
</template>