<template name="welcome">
  <div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="img/user.png" alt="Stanley">
					<h1>Hi, I am Charles!</h1>
					<p>Hello everybody. I'm Charles, everyday at The Star Foundry I build solutions to tough problems. 
            I enjoy my coffee black, my music loud and my books well-worn.</p>
					
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->
  
  <div class="container pt">
		<div class="row mt centered">	
			<div class="col-lg-4">
				<a class="zoom green" href=""><img class="img-responsive" src="img/portfolio/HarvestTree.png" alt="" /></a>
				<p>Harvest Learning Group</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href=""><img class="img-responsive" src="img/portfolio/TheStarFoundry.png" alt="" /></a>
				<p>The Star Foundry</p>
			</div>
			<div class="col-lg-4">
                <!--
				<a class="zoom green" href="work03.html"><img class="img-responsive" src="assets/img/portfolio/port03.jpg" alt="" /></a>
				<p>Coming Soon...</p>
                -->
			</div>
		</div><!-- /row -->

	</div><!-- /container pt -->
</template>