<template name="work">
  <div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>MY WORK</h3>
				<hr>
				<p>The projects I've been fortunate to be a part of.</p>
			</div>
		</div>
		<div class="row mt centered">	
			<div class="col-lg-4">
				<a class="zoom green" href=""><img class="img-responsive" src="img/portfolio/HarvestTree.png" alt="" /></a>
				<p>Harvest Learning Group</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href=""><img class="img-responsive" src="img/portfolio/TheStarFoundry.png" alt="" /></a>
				<p>The Star Foundry</p>
			</div>
			<div class="col-lg-4">
                <!--
				<a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port03.jpg" alt="" /></a>
				<p>Coming Soon...</p>
                -->
			</div>
		</div><!-- /row -->
		
	</div><!-- /container -->
</template>